<div class="row">
<% forums.forEach(function(forum) { %>
<div class="col-md-offset-1 col-md-10" href="/<%= forum.slug %>">
  <div class="media">
    <% if (forum.icon) { %>
    <div class="media-left" style="padding-right: 10px;">
      <h2><a href="/<%= forum.slug %>"><i class="fa fa-lg fa-fw fa-<%= forum.icon %>"></i></a></h2>
    </div>
    <% } %>
    <div class="media-body">
      <div class="row">
        <div class="col-xs-12">
          <h2 style="margin-bottom: 0;"><a href="/<%= forum.slug %>" style="text-decoration: none;"><%= forum.name %></a></h2>
          <p class="text-muted lead">
            <%= forum.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% }); %>
</div>