<div class="modal fade modal-draggable" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form role="form" method="post" action="<%= site.options().post.path %>/all/new" data-validator="true">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px; overflow: visible;">
          <div class="row">
            <div class="col-xs-11">
              <select name="topic" class="selectpicker">
                <% topics.forEach(function(topicOption) { %>
                  <option
                    value="<%= topicOption._id %>" 
                    data-content='<h4 style="margin: 5px 0;"><i class="fa fa-lg fa-fw fa-<%= topicOption.icon %>"></i> <%= topicOption.name %></h4>'
                    <% if (typeof(topic) != "undefined" && topic != null && (topic.id == topicOption.id)) { %>selected="selected"<% } %>
                  ><%= topicOption.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="col-xs-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          </div>
          <!--
          <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-md-4">
              <select name="topic" class="selectpicker">
                <% topics.forEach(function(topic) { %>
                  <option value="<%= topic._id %>" data-content='<i class="fa fa-lg fa-fw fa-<%= topic.icon %>"></i> <%= topic.name %>'><%= topic.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <select name="category" class="selectpicker">
                <option value="0" data-content='<span class="text-muted">Label</span>'>Priority</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-4 text-right">
              <select name="category" class="selectpicker">
                <option data-content='<span class="text-muted">Status</span>'>Status</option>
              </select>
            </div>
          </div>
          -->
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="messages"></div>
              <div class="form-group form-group-lg">
                <label for="name" class="control-label">Title</label>
                <input type="text" name="title" id="title" autofocus="" autocomplete="off" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="message" class="control-label">Description</label>
                <textarea type="text" name="description" id="description" rows="7" class="form-control autoresize" autocomplete="off"></textarea>
              </div>
              <div class="form-group">
                <label for="name" class="control-label">Tags</label>
                <input data-role="tagsinput" type="text" name="tags" id="tags" placeholder="tag" autofocus="" autocomplete="off" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-lg fa-fw fa-ban"></i> Cancel</a>
          <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-check"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>