<div class="row">
  <div class="col-md-8">
    <p>
      <strong>Page <%= page %> of <%= Math.ceil(postCount / postLimit) %></strong> (<%= postCount %> total)
    </p>
  </div>
  <div class="col-md-4">
    <ul class="pager pull-right" style="margin-top: 0;">
      <% if (page > 1) { %>
      <li><a href="?page=<%= page - 1 %>"><i class="fa fa-lg fa-fw fa-arrow-left"></i>Previous</a></li>
      <% } else { %>
      <li class="disabled"><span ><i class="fa fa-lg fa-fw fa-arrow-left"></i> Previous</span></li>
      <% } %>
      <% if (page < Math.ceil(postCount / postLimit)) { %>
      <li><a href="?page=<%= page + 1 %>">Next <i class="fa fa-lg fa-fw fa-arrow-right"></i></a></li>
      <% } else { %>
      <li class="disabled"><span>Next <i class="fa fa-lg fa-fw fa-arrow-right"></i></span></li>
      <% } %>
    </ul>
  </div>
</div>