</div>
<!-- Customise this homepage for your own site -->
<div class="jumbotron jumbotron-home text-center clearfix" style="position: relative;">
  <h1>
    <img src="/images/logo-white-on-transparent.png" alt="logo" style="height: 90px; width: 70px;"/>
    inkrato <small class="hidden-xs hidden-sm">community edition</small>
  </h1>
  <h2 style="margin-top: 0; margin-bottom: 90px;">
    <%= site.getDescription() %>
  </h2>
  <span class="fa-stack fa-4x text-center" style="position: absolute; bottom: -65px; width: 100%; left: 0;">
    <i class="fa fa-circle fa-stack-2x body-background-color"></i>
    <i class="fa fa-chevron-down fa-stack-1x text-primary"></i>
  </span>
</div>
<% if (site.options().forums) { %>
<div class="container container-fluid" style="padding-top: 40px;">
  <% include partials/forums %>
</div>
<% } else { %>
<div class="container container-fluid" style="padding-top: 40px;">
  <div class="row boxes">
  <% topics.forEach(function(topic) { %>
    <div class="hidden-xs text-center <%= (topics.length % 2) ? 'col-md-4' : 'col-md-3' %>" href="/<%= site.options().post.slug %>/<%= topic.slug %>" style="margin-bottom: 20px;">
      <% if (topic.icon) { %>
      <span class="hidden-xs fa-stack fa-3x" style="margin-bottom: 10px;">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-<%= topic.icon %> fa-stack-1x fa-inverse"></i>
      </span>
      <% } %>
      <h3 style="margin-top: 0px;" class="text-primary">
        <a href="/<%= site.options().post.slug %>/<%= topic.slug %>"><%= topic.postCount %> <%= topic.name %></a>
      </h3>
      <p class="text-muted">
        <%= topic.description %>
      </p>
    </div>
    <div class="visible-xs text-center <%= (topics.length % 2) ? 'col-md-4' : 'col-md-3' %>" href="/<%= site.options().post.slug %>/<%= topic.slug %>" style="margin-bottom: 20px;">
      <h3 style="margin-top: 0px; magin-bottom: 0;" class="text-primary">
        <% if (topic.icon) { %>
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-<%= topic.icon %> fa-stack-1x fa-inverse"></i>
        </span>
        <% } %>
        <a href="/<%= site.options().post.slug %>/<%= topic.slug %>"><%= topic.postCount %> <%= topic.name %></a>
      </h3>
      <p class="text-muted">
        <%= topic.description %>
      </p>
    </div>
  <% }); %>
  </div>
  <br/>
  <div class="text-center">
    <a href="/<%= site.options().post.slug %>/" class="btn btn-lg btn-primary rounded">
      <i class="fa fa-fw fa-<%= site.options().post.icon %>"></i> <%= site.options().post.name %> <i class="fa fa-fw fa-chevron-right"></i>
    </a>
  </div>
</div>
<script>
$(document).ready(function(){
  // Make all boxes equal height on page load
  // @todo Redraw on page resize end
  $('.boxes').each(function(){
    var maxHeight = 0;
    $('.box', this).each(function(){
      if ($(this).height() > maxHeight)
        maxHeight = $(this).height();
    });  
    $('.box', this).height(maxHeight);
  });
});
</script>
<br/>
<% } %>