</div>
<div class="jumbotron jumbotron-home text-center clearfix" style="position: relative;">
  <div class="hidden-xs hidden-sm">
    <h1>
      <i class="fa fa-comments"></i>
      inkrato
      <small>community edition</small>
    </h1>
    <p style="margin-bottom: 80px;">
      An open source collaboration platform for teams and communities
    </p>
  </div>
  <div class="visible-xs visible-sm">
    <h1>
      <i class="fa fa-comments"></i>
      inkrato
    </h1>
    <p style="margin-bottom: 80px;">
      An open source collaboration platform for teams and communities
    </p>
  </div>
  <span class="fa-stack fa-4x text-center" style="position: absolute; bottom: -65px; width: 100%; left: 0;">
    <i class="fa fa-circle fa-stack-2x body-background-color"></i>
    <i class="fa fa-chevron-down fa-stack-1x text-primary"></i>
  </span>
</div>
<div class="container container-fluid" style="padding-top: 40px;">
<div class="row boxes">
<% topics.forEach(function(topic) { %>
  <div class="hidden-xs text-center <%= (topics.length % 2) ? 'col-md-4' : 'col-md-3' %>" href="<%= site.options().post.path %>/<%= topic.path %>" style="margin-bottom: 20px;">
    <% if (topic.icon) { %>
    <span class="hidden-xs fa-stack fa-3x" style="margin-bottom: 10px;">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-<%= topic.icon %> fa-stack-1x fa-inverse"></i>
    </span>
    <% } %>
    <h3 style="margin-top: 0px;" class="text-primary">
      <a href="<%= site.options().post.path %>/<%= topic.path %>"><%= topic.postCount %> <%= topic.name %></a>
    </h3>
    <p class="text-muted">
      <%= topic.description %>
    </p>
  </div>
  <div class="visible-xs text-center <%= (topics.length % 2) ? 'col-md-4' : 'col-md-3' %>" href="<%= site.options().post.path %>/<%= topic.path %>" style="margin-bottom: 20px;">
    <h3 style="margin-top: 0px; magin-bottom: 0;" class="text-primary">
      <% if (topic.icon) { %>
      <span class="fa-stack fa-1x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-<%= topic.icon %> fa-stack-1x fa-inverse"></i>
      </span>
      <% } %>
      <a href="<%= site.options().post.path %>/<%= topic.path %>"><%= topic.postCount %> <%= topic.name %></a>
    </h3>
    <p class="text-muted">
      <%= topic.description %>
    </p>
  </div>
<% }); %>
</div>
<br/>
<div class="text-center">
  <a href="<%= site.options().post.path %>/" class="btn btn-lg btn-primary rounded">
    <i class="fa fa-fw fa-<%= site.options().post.icon %>"></i> <%= site.options().post.name %> <i class="fa fa-fw fa-chevron-right"></i>
  </a>
</div>
<br/>
<script>
$(document).ready(function(){
  // Make all boxes equal height on page load
  // @todo Redraw on page resize end
  $('.boxes').each(function(){
    var maxHeight = 0;
    $('.box', this).each(function(){
      if ($(this).height() > maxHeight)
        maxHeight = $(this).height();
    });  
    $('.box', this).height(maxHeight);
  });
});
</script>