<!-- Comments -->
<hr/>
<h3><i class="fa fa-comments"></i> Comments</h3>
<br/>
<% post.comments.forEach(function(comment) { %>
<div class="media">
  <div class="media-left" style="padding-right: 20px;">
    <% if (comment.creator) { %>
    <img src="<%= comment.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
    <% } else { %>
    <h4 class="text-muted text-center" style="height: 48px; width: 48px;"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
    <% } %>
  </div>
  <div class="media-body panel panel-default">
    <div class="panel-heading">
      <% if (comment.creator) { %>
      <span class="media-heading"><%= comment.creator.profile.name || "Anonymous" %></span>
      <% } else { %>
      <span class="media-heading text-muted"> Deleted Account</span>
      <% } %>
      <span class="text-muted pull-right"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= comment.created.toISOString() %>"><%= comment.created.toDateString() %></time></span>                
    </div>
    <div class="panel-body">
      <p class="comment">
        <% comment.message.split("\n").forEach(function(line) { %>
          <p><%- linkify(line) %></p>
        <% }); %>
      </p>
    </div>
  </div>
</div>
<% }); %>
<br/>
<% if (user) { %>
<div class="media">
  <div class="media-left" style="padding-right: 20px;">
    <a href="#"><img src="<%= user.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/></a>
  </div>
  <div class="media-body">
    <form role="form" method="post" action="<%= post.getAddCommentUrl() %>" data-validator="true">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <div class="form-group">
        <p style="margin-bottom: 5px;">
        <span class="media-heading"><%= user.profile.name || "Anonymous" %></span>
        <span class="text-muted pull-right"><i class="fa fa-clock-o"></i> <time datetime="<%= new Date().toISOString() %>"><%= new Date().toDateString() %></time></span>
        </p>
        <label for="message" class="control-label hidden">Add comment</label>
        <textarea type="text" name="comment" id="comment" rows="3" class="form-control autoresize" placeholder="Add comment..." autocomplete="off"></textarea>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-comment"></i> Add comment</button>
      </div>
    </form>
  </div>
</div>
<% } else { %>
<p class="text-right">
  <a href="/signup" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#signupModal"><i class="fa fa-lg fa-fw fa-sign-in"></i> Log in to comment</a>
</p>
<% } %>