<!-- Comments -->
<hr/>
<h3><i class="fa fa-comments"></i> Comments</h3>
<br/>
<% post.comments.forEach(function(comment) { %>
<div class="media">
  <div class="media-left" style="padding-right: 20px;">
    <% if (comment.creator) { %>
    <img src="<%= comment.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
    <% } else { %>
    <h4 class="text-muted text-center" style="height: 48px; width: 48px;"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
    <% } %>
  </div>
  <div class="media-body panel panel-default">
    <div class="panel-heading">
      <% if (comment.creator) { %>
      <span class="media-heading"><%= comment.creator.profile.name || "Anonymous" %></span>
      <% } else { %>
      <span class="media-heading text-muted"> Deleted Account</span>
      <% } %>
      <span class="text-muted pull-right"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= comment.created.toISOString() %>"><%= comment.created.toDateString() %></time></span>                
    </div>
    <div class="panel-body">
      <p class="comment">
        <% comment.message.split("\n").forEach(function(line) { %>
          <p><%- linkify(line) %></p>
        <% }); %>
      </p>
    </div>
  </div>
</div>
<% }); %>
<br/>