<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10 messages"></div>
</div>
<div class="form-group form-group-lg bootstrap-select-block row">
  <div class="col-sm-12">
    <span id="topicSelect" <% if (topic != null) { %>style="display: none;"<% } %>>
      <select  name="topic" class="selectpicker">
        <% topics.forEach(function(topicOption) { %>
          <option
            value="<%= topicOption.id %>" 
            data-content='<% if (topicOption.icon) { %><i class="fa fa-lg fa-fw fa-<%= topicOption.icon %>"></i> <% } %><%= topicOption.name %>'
            <% if (topic != null && topic.id == topicOption.id) { %>selected="selected"<% } %>
          ><%= topicOption.name %></option>
        <% }); %>
      </select>
    </span>
    <% if (topic != null) { %>
    <span id="topic">
      <h4 class="lead text-muted" style="margin: 0; position: relative; top: -1px;">
        <% if (topic.icon) { %><i class="fa fa-<%= topic.icon %>"></i><% } %>
        <%= topic.name %>
        <a class="btn btn-xs btn-default" href="javascript:$('#topic').hide();$('#topicSelect').show();"><i class="fa fa-pencil-square"></i> Move</a>
      </h4>
    </span>
    <% } %>
  </div>
</div>
<div class="form-group form-group-lg">
  <label for="name" class="control-label sr-only">Title</label>
  <input type="text" name="title" id="title" placeholder="Title" autofocus="1" value="<%= typeof(post) != "undefined" ? post.title : '' %>" autocomplete="off" class="form-control"/>
</div>
<div class="form-group">
  <label for="message" class="control-label sr-only">Description</label>
  <textarea type="text" name="description" id="description" placeholder="Description" rows="7" class="form-control autoresize" autocomplete="off"><%= typeof(post) != "undefined" ? post.description : '' %></textarea>
</div>
<div class="form-group">
  <label for="name" class="control-label">Tags</label>
  <input data-role="tagsinput" type="text" placeholder="tag" name="tags" id="tags" autofocus="" autocomplete="off" value="<%= typeof(post) != "undefined" ? post.tags : '' %>" class="form-control"/>
</div>