<table>
  <tbody>
  <% posts.forEach(function(post) { %>
    <tr>
      <td class="col-xs-12 col-md-10" style="padding: 10px 10px;">
        <% if (site.getOptions().post.voting.enabled == true) { %>
        <div class="media">
          <div class="media-left" style="padding-right: 15px;">
               <% include vote %> 
          </div>
          <div class="media-body">
        <% } %>
            <div class="post-preview-body"  href="<%= post.getUrl() %>">
              <h3 class="post-title"><a href="<%= post.getUrl() %>"><%= post.title %></a></h3>
              <p class="text-muted"><%= post.description.replace(/\n/, '').substr(0,400); %></p>
            </div>
            <% if (post.creator) { %>
            <img src="<%= post.creator.avatar(24)%>" alt="Avatar" height="24" width="24" hspace="3" class="img-circle" />
            <%= post.creator.profile.name || "Anonymous" %>
            <% } %>
            <span class="text-muted hidden-md hidden-lg pull-right">
              <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
            </span>
        <% if (site.getOptions().post.voting.enabled == true) { %>
          </div>
        </div>
        <% } %>
      </td>
      <td class="hidden-xs hidden-sm col-md-2 text-muted text-right" style="vertical-align: middle;">
        <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>