<div class="text-center" style="position: relative; height: 80px;">
  <span data-score="<%= post.postId %>" class="score rounded lead">
    <% if (post.getScore() > 0) { %>
    <span class="text-success"><strong><%= post.getScore() %></strong></span>
    <% } else if (post.getScore() < 0) { %>
    <span class="text-danger"><strong><%= post.getScore() %></strong></span>
    <% } else { %>
    <span class="text-muted"><strong><%= post.getScore() %></strong></span>
    <% } %>
  </span>
  <% var total = parseInt(post.upvotes()) + parseInt(post.downvotes()); %>
  <div data-votes="<%= post.postId %>" class="donut text-center" style="position: absolute; top: 0; left: 0;">
    <% if (total == 0) { %>
    <span class="hidden" data-peity='{ "width": "100%", "fill": ["#D45252", "#6EBF7D", "#eeeeee"], "innerRadius": 27, "radius": 39 }'>0,0,1</span>
    <% } else { %>
    <span class="hidden" data-peity='{  "width": "100%", "fill": ["#D45252", "#6EBF7D", "#eeeeee"], "innerRadius": 27, "radius": 39 }'><%= post.downvotes() %>,<%= post.upvotes() %>,0</span>
    <% } %>
  </div>
</div>