<div class="panel panel-default" style="width: 80px; margin-bottom: 10px;">
  <div class="panel-body text-center" style="padding: 15px 0;">
    <p class="lead" style="margin: 0;"><%= post.upvotes() - post.downvotes() %></p>
  </div>
  <div class="panel-footer text-center text-muted" style="padding: 5px 0;">
    score
  </div>
</div>
<div class="btn-group btn-group-justified">
  <% if (user) { %>
    <% if (post.upvoted(user.id)) { %>
    <form name="upvote" method="post" action="<%= post.getUnvoteUrl() %>" class="btn btn-success btn-vote" style="padding: 0;" >
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <button class="btn btn-link text-white"  style="padding: 5px 0;">
        <i class="fa fa-lg fa-chevron-up"></i>
      </button>
    </form>
    <% } else { %>
    <form name="upvote" method="post" action="<%= post.getUpvoteUrl() %>" class="btn btn-default btn-vote" style="padding: 0;">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <button type="submit" class="btn btn-link text-default" style="padding: 5px 0;">
        <i class="fa fa-lg fa-chevron-up"></i>
      </button>
    </form>
    <% } %>
    <% if (post.downvoted(user.id)) { %>
    <form name="downvote" method="post" action="<%= post.getUnvoteUrl() %>" class="btn btn-danger btn-vote" style="padding: 0;">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <button type="submit" class="btn btn-link text-white" style="padding: 5px 0;">
        <i class="fa fa-lg fa-chevron-down"></i>
      </button>
    </form>
    <% } else { %>
    <form name="downvote" method="post" action="<%= post.getDownvoteUrl() %>" class="btn btn-default btn-vote" style="padding: 0;">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <button type="submit" class="btn btn-link text-default" style="padding: 5px 0;">
        <i class="fa fa-lg fa-chevron-down"></i>
      </button>
    </form>
    <% } %>
  <% } else { %>
  <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#signupModal" class="btn btn-default" style="padding: 5px 0;">
    <i class="fa fa-lg fa-chevron-up"></i>
  </a>
  <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#signupModal" class="btn btn-default" style="padding: 5px 0;">
    <i class="fa fa-lg fa-chevron-down"></i>
  </a>
  <% } %>
</div>