<div class="clearfix">
  <div class="btn btn-lg btn-default disabled pull-left">
    <span style="opacity: 0.5;">score</span> &nbsp; <strong data-score="<%= post.postId %>"><%= post.upvotes() - post.downvotes() %></strong>
  </div>
  <div class="btn-group pull-right">
    <% if (user) { %>
      <% if (post.postId) { %>
        <% if (post.upvoted(user.id)) { %>
        <form name="upvote" data-upvote="<%= post.postId %>" method="post" action="<%= post.getUnvoteUrl() %>" class="btn btn-success btn-vote" style="padding: 0;" >
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <button type="submit" class="btn btn-link text-white">
            <i class="fa fa-lg fa-chevron-up"></i>
          </button>
        </form>
        <% } else { %>
        <form name="upvote" data-upvote="<%= post.postId %>" method="post" action="<%= post.getUpvoteUrl() %>" class="btn btn-default btn-vote" style="padding: 0;">
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <button type="submit" class="btn btn-link text-default">
            <i class="fa fa-lg fa-chevron-up"></i>
          </button>
        </form>
        <% } %>
        <% if (post.downvoted(user.id)) { %>
        <form name="downvote" data-downvote="<%= post.postId %>" method="post" action="<%= post.getUnvoteUrl() %>" class="btn btn-danger btn-vote" style="padding: 0;">
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <button type="submit" class="btn btn-link text-white">
            <i class="fa fa-lg fa-chevron-down"></i>
          </button>
        </form>
        <% } else { %>
        <form name="downvote" data-downvote="<%= post.postId %>" method="post" action="<%= post.getDownvoteUrl() %>" class="btn btn-default btn-vote" style="padding: 0;">
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <button type="submit" class="btn btn-link text-default">
            <i class="fa fa-lg fa-chevron-down"></i>
          </button>
        </form>
        <% } %>
      <% } else { %>
      <a href="#" disabled="disabled" class="btn btn-default btn-vote">
        <i class="fa fa-lg text-muted fa-chevron-up"></i>
      </a>
      <a href="#" disabled="disabled" class="btn btn-default btn-vote">
        <i class="fa fa-lg text-muted fa-chevron-down"></i>
      </a>
      <% } %>
    <% } else { %>
    <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#signupModal" class="btn btn-default btn-vote">
      <i class="fa fa-lg fa-chevron-up"></i>
    </a>
    <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#signupModal" class="btn btn-default btn-vote">
      <i class="fa fa-lg fa-chevron-down"></i>
    </a>
    <% } %>
  </div>
</div>