<div class="row">
  <div class="col-sm-9">
    <form role="form" method="post" action="<%= post.getEditUrl() %>" data-validator="true">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <% include ../partials/posts/edit %>
      <div class="form-group text-right">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="<%= post.getUrl() %>" class="btn btn-default"><i class="fa fa-lg fa-fw fa-ban"></i> Cancel</a>
          <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-check"></i> Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-3">
    <% if (post.creator) { %>
    <div class="media">
      <div class="media-left">
        <a href="#"><img src="<%= post.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/></a>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= post.creator.profile.name || "Anonymous" %></h3>
        <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time></span>
      </div>
    </div>
  </div>
  <% } %>
</div>