<% if (site.options().post.voting.enabled == true) { %>
<div class="visible-xs visible-sm" style="margin-bottom: 20px;">
  <% include ../partials/posts/vote-mini %>
</div>
<div class="media" style="position: relative; top: -10px;">
  <div class="hidden-xs hidden-sm media-left" style="padding-right: 20px;">
    <% include ../partials/posts/vote %>
  </div>
  <div class="media-body">
<% } %>
    <div class="row">
      <div class="col-md-4 col-lg-3 col-md-push-8 col-lg-push-9">
        <h5 class="text-muted">CREATED BY</h5>
        <div class="media media-avatar">
          <div class="media-left">
            <% if (post.creator) { %>
            <img src="<%= post.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
            <% } else { %>
            <h4 style="margin: 0; width: 48px; height: 48px;" class="text-center text-muted"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
            <% } %>
          </div>
          <div class="media-body">
            <% if (post.creator) { %>
            <h4 class="media-heading"><%= post.creator.profile.name || "Anonymous" %></h4>
            <% } else { %>
            <h4 class="media-heading text-muted">Deleted Account</h4>
            <% } %>
            <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9 col-md-pull-4 col-lg-pull-3">
        <form role="form" method="post" action="<%= post.getEditUrl() %>" data-validator="true" style="margin-top: -15px;">
          <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
          <% include ../partials/posts/form %>
          <div class="form-group text-right">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="<%= post.getUrl() %>" class="btn btn-default"><i class="fa fa-lg fa-fw fa-ban"></i> Cancel</a>
              <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-check"></i> Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<% if (site.options().post.voting.enabled == true) { %>
  </div>
</div>
<% } %>