<% if (postCount > 0) { %>
  <div class="row">
    <div class="col-md-7 hidden-xs hidden-sm">
      <h1 style="margin: 0"><%= site.getOptions().post.name %></h1>
    </div>
    <div class="col-xs-12 col-md-5">
      <% include ../partials/posts/paginator %>
    </div>
  </div>
  <table class="table table-striped">
    <tbody>
    <% posts.forEach(function(post) { %>
      <tr>
        <td class="col-xs-12 col-md-9 col-lg-10" style="padding: 10px 10px;">
          <% if (site.getOptions().post.voting.enabled == true) { %>
          <div class="media">
            <div class="media-left" style="padding-right: 15px;">
                 <% include ../partials/posts/vote %> 
            </div>
            <div class="media-body" style="position: relative;">
          <% } %>
              <div class="post-preview-body"  href="<%= post.getUrl() %>">
                <h3 class="post-title"><a href="<%= post.getUrl() %>"><%= post.title %></a></h3>
                <p class="text-muted"><%= post.description.replace(/\n/, '').substr(0,400); %></p>
              </div>
              <% if (post.creator) { %>
              <img src="<%= post.creator.avatar(24)%>" alt="Avatar" height="24" width="24" hspace="3" class="img-circle" />
              <%= post.creator.profile.name || "Anonymous" %>
              <% } %>
              <span class="text-muted hidden-md hidden-lg pull-right">
                <a href="<%= post.getUrl() %>" class="text-default"><i class="fa fa-fw fa-lg fa-comments"></i> <%= post.comments.length %></a>
                |
                <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
              </span>
          <% if (site.getOptions().post.voting.enabled == true) { %>
            </div>
          </div>
          <% } %>
        </td>
        <td class="hidden-xs hidden-sm col-md-3 col-lg-2 text-muted text-right" style="vertical-align: middle; position: relative;">
          <div class="pull-right" style="position: absolute; top: 10px; right: 10px;">
            <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
          </div>
          <div class="pull-right" style="position: absolute; bottom: 10px; right: 10px;">
            <a href="<%= post.getUrl() %>" class="btn btn-default text-default"><i class="fa fa-fw fa-lg fa-comments"></i> <%= post.comments.length %> <i class="fa fa-fw fa-chevron-right"></i></a>
          </div>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <br/>
      <% include ../partials/posts/paginator %>
    </div>
  </div>
<% } else { %>
  <p class="text-center lead">There is nothing here yet.</p>
  <p class="text-center"><a class="btn btn-success" href="/<%= site.getOptions().post.url %>/new"><i class="fa fa-lg fa-fw fa-plus"></i> New</a></p>
<% } %>