<div class="row">
  <div class="col-md-7 col-lg-8">
    <% if (topic) { %>
    <div class="media">
      <% if (topic.icon) { %>
      <div class="media-left">
        <h2 style="margin-top: 5px; margin-bottom: 20px;"><i class="fa fa-<%= topic.icon %>"></i></h2>
      </div>
      <% } %>
      <div class="media-body">
        <h2 style="margin-top: 5px; margin-bottom: 20px;"><%= topic.name %></h2>
      </div>
    </div>
    <% } else { %>
      <h2 style="margin-top: 5px; margin-bottom: 20px;"><i class="fa fa-fw fa-<%= site.options().post.icon %>"></i> Everything</h2>
    <% } %>
  </div>
  <div class="col-xs-12 col-md-5 col-lg-4" style="padding-top: 10px;">
    <% if (posts.length > 0) { %>
      <% include ../partials/posts/paginator %>
    <% } %>
  </div>
</div>
<% if (posts.length > 0) { %>
  <table class="table xtable-striped">
    <tbody>
    <% posts.forEach(function(post) { %>
      <tr>
        <td class="col-xs-12 col-md-10 col-lg-10" style="position: relative; padding: 5px 0;">
          
        <% if (site.options().post.voting.enabled == true) { %>
        <div class="media">
          <div class="media-left">
            <div style="width: 170px; display: block; margin: 10px 0; margin-right: 10px;" class="hidden-xs">
              <% include ../partials/posts/vote-inline %> 
            </div>
            <div style="width: 80px; display: block; margin: 10px 0; margin-right: 10px;" class="visible-xs">
              <% include ../partials/posts/vote-inline %> 
            </div>
          </div>
          <div class="media-body">
        <% } %>
            <h3 href="<%= post.getUrl() %>" class="post-title" style="margin-top: 0px;"><a href="<%= post.getUrl() %>"><%= post.title %></a></h3>
            <% if (post.creator) { %>
            <a href="<%= post.getUrl() %>" class="text-default" style="text-decoration: none;">
              <img src="<%= post.creator.avatar(24)%>" alt="Avatar" height="24" width="24" hspace="3" class="img-circle" />
              <%= post.creator.profile.name || "Anonymous" %>
            </a>
            <% } %>
            <br class="visible-xs"/>
            <span href="<%= post.getUrl() %>" class="text-muted">
              <span class="hidden-xs">
                <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
              </span>
              <span class="visible-xs" style="margin-top: 10px;">
                <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
                |
                <a href="<%= post.getUrl() %>" class="<%= (post.comments.length > 0) ? 'text-default' : 'text-muted' %>"><i class="fa fa-fw fa-lg fa-comments"></i> <%= post.comments.length %></a>
              </span>
            </span>
        <% if (site.options().post.voting.enabled == true) { %>
          </div>
        </div>
        <% } %>
        </td>
        <td class="hidden-xs col-md-2 col-lg-2 text-right" style="padding: 5px 0;">
          <a href="<%= post.getUrl() %>" 
             class="btn <%= (post.comments.length > 0) ? 'btn-primary' : 'btn-default' %>" 
             style="margin-top: 10px;"><i class="fa fa-fw fa-lg fa-comments"></i> <%= post.comments.length %> <i class="fa fa-fw fa-chevron-right"></i></a>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
<% } else { %>
  <br/>
  <p class="text-center lead">There's nothing here yet.</p>
  <p class="text-center">
    <% if (user) { %>
      <% if (typeof(topic) != "undefined" && topic != null) { %>
        <a class="hidden-xs hidden-sm btn btn-lg btn-success" href="<%= site.options().post.path %>/<%= topic.path %>/new" data-dismiss="modal" data-toggle="modal" data-target="#newPostModal"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
        <a class="visible-xs visible-sm btn btn-lg btn-success" href="<%= site.options().post.path %>/<%= topic.path %>/new" ><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
      <% } else { %>
        <a class="btn btn-lg btn-success" href="/new" data-dismiss="modal" data-toggle="modal" data-target="#newPostModal" data-shortcut-key="n"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
      <% } %>
    <% } else { %>
    <a class="btn btn-lg btn-success" href="/signup" data-dismiss="modal" data-toggle="modal" data-target="#signupModal"  data-shortcut-key="n"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
    <% } %>
  </p>
<% } %>
<div class="row">
  <div class="col-md-12">
    <br/>
    <% if (posts.length > 0) { %>
      <% include ../partials/posts/paginator %>
    <% } %>
  </div>
</div>
