<% if (postCount > 0) { %>
  <div class="row">
    <div class="col-md-7 hidden-xs hidden-sm">
      <h1 style="margin: 0"><%= site.getOptions().post.name %></h1>
    </div>
    <div class="col-xs-12 col-md-5">
      <% include ../partials/posts/paginator %>
    </div>
  </div>
  <table>
    <tbody>
    <% posts.forEach(function(post) { %>
      <tr>
        <td class="col-xs-12 col-md-9 col-lg-10" style="padding: 10px 10px;">
          <% if (site.getOptions().post.voting.enabled == true) { %>
          <div class="media">
            <div class="media-left" style="padding-right: 15px;">
                 <% include ../partials/posts/vote %> 
            </div>
            <div class="media-body">
          <% } %>
              <div class="post-preview-body"  href="<%= post.getUrl() %>">
                <h3 class="post-title"><a href="<%= post.getUrl() %>"><%= post.title %></a></h3>
                <p class="text-muted"><%= post.description.replace(/\n/, '').substr(0,400); %></p>
              </div>
              <% if (post.creator) { %>
              <img src="<%= post.creator.avatar(24)%>" alt="Avatar" height="24" width="24" hspace="3" class="img-circle" />
              <%= post.creator.profile.name || "Anonymous" %>
              <% } %>
              <span class="text-muted hidden-md hidden-lg pull-right">
                <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
              </span>
          <% if (site.getOptions().post.voting.enabled == true) { %>
            </div>
          </div>
          <% } %>
        </td>
        <td class="hidden-xs hidden-sm col-md-3 col-lg-2 text-muted text-right" style="vertical-align: middle;">
          <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.date.toISOString() %>"><%= post.date.toDateString() %></time>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <br/>
      <% include ../partials/posts/paginator %>
    </div>
  </div>
<% } else { %>
  <p class="text-center lead">There is nothing here yet.</p>
  <p class="text-center"><a class="btn btn-success" href="/<%= site.getOptions().post.url %>/new"><i class="fa fa-lg fa-fw fa-plus"></i> New</a></p>
<% } %>