<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <% if (topic) { %>
        <div class="media hidden-xs hidden-sm">
          <% if (topic.icon) { %>
          <div class="media-left">
            <i style="margin-top: 15px;" class="text-primary fa fa-lg fa-<%= topic.icon %>"></i>
          </div>
          <% } %>
          <div class="media-body text-primary">
            <h4 style="margin-top: 10px; margin-bottom: 20px;"><%= topic.name %></h4>
          </div>
        </div>
        <% } else { %>
        <div class="media hidden-xs hidden-sm">
          <% if (site.options().post.icon) { %>
          <div class="media-left">
            <i style="margin-top: 15px;" class="text-primary fa fa-lg fa-<%= site.options().post.icon %>"></i>
          </div>
          <% } %>
          <div class="media-body text-primary">
            <h4 style="margin-top: 10px; margin-bottom: 20px;">All <%= site.options().post.name %></h4>
          </div>
        </div>
        <% } %>
        <div class="dropdown visible-xs visible-sm" style="margin-bottom: 10px;">
          <button class="btn btn-block btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <div class="row">
            <div class="col-xs-10" style="overflow: hidden;">
              <span class="pull-left">
              <% if (topic) { %>
                <% if (site.options().post.icon) { %><i class="fa fa-fw fa-lg fa-<%= topic.icon %>"></i> <% } %> <%= topic.name %>
              <% } else { %>
                <% if (site.options().post.icon) { %><i class="fa fa-fw fa-lg fa-<%= site.options().post.icon %>"></i> All <% } %> <%= site.options().post.name %>
              <% } %>
              </span>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-lg fa-caret-down pull-right" style="margin: 5px 5px 0 0;"></i>
            </div>
            </div>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width: 100%;">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= site.options().post.path %>/everything"><% if (site.options().post.icon) { %>
              <i class="fa fa-fw fa-lg fa-<%= site.options().post.icon %>"></i> <% } %> All <%= site.options().post.name %> (<%= postTotal %>)</a>
            </li>
            <li role="presentation" class="divider"></li>
            <% topics.forEach(function(t) { %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= site.options().post.path %>/<%= t.path %>"><% if (t.icon) { %><i class="fa fa-fw fa-lg fa-<%= t.icon %>"></i> <% } %> <%= t.name %> (<%= t.postCount %>)</a></li>
            <% }); %>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5" style="padding-top: 10px;">
        <% if (posts.length > 0) { %>
          <% include ../partials/posts/paginator %>
        <% } %>
      </div>
    </div>
    <% if (posts.length > 0) { %>
    <table class="post-list table table-striped">
      <tbody>
      <% posts.forEach(function(post) { %>
        <tr>
          <td class="col-xs-12 col-md-8 col-lg-9" style="position: relative;">
            <% if (site.options().post.voting.enabled == true) { %>
            <div class="media">
              <div class="media-left hidden-xs hidden-sm">
                <% include ../partials/posts/vote-list %>
              </div>
              <div class="media-body">
            <% } %>
                <div class="visible-sm visible-xs" style="margin-top: 5px;" href="<%= post.getUrl() %>">
                  <% include ../partials/posts/creator %>
                </div>
            
                <div href="<%= post.getUrl() %>" class="post-preview break" href="<%= post.getUrl() %>">
                  <h3 class="post-title"><a class="text-default" href="<%= post.getUrl() %>"><%= post.title %></a></h3>
                  <p class="hidden-xs hidden-sm text-muted"><%= post.description%></p>
                </div>
                
                <div class="visible-xs visible-sm clearfix">
                  <div class="pull-right" href="<%= post.getUrl() %>">
                    <% if (!topic && post.topic) { %>
                      <span class="label label-primary" style="margin-bottom: 5px;">
                      <% if (post.topic.icon) { %>
                      <i class="fa fa-lg fa-fw fa-<%= post.topic.icon %>"></i>
                      <% } else { %>
                      <%= post.topic.name %>
                      <% } %>
                    </span>
                    <% } %>
                    <% if (post.priority) { %>
                    <span class="label label-default" style="margin-bottom: 5px; background-color: <%= post.priority.color %>;"><i class="fa fa-lg  fa-fw fa-flag"></i></span>
                    <% } %>
                    <% if (post.comments.length > 0) { %>
                    <span><i class="fa fa-lg fa-fw fa-comments text-muted"></i> <%= post.comments.length %></span>
                    <% } else { %>
                    <span style="opacity: 0.5;"><i class="fa fa-lg fa-fw fa-comments text-muted"></i> <%= post.comments.length %></span>
                    <% } %>
                  </div>
                  <div class="pull-left">
                    <% include ../partials/posts/vote-mobile %>
                  </div>
                </div>
                
                <div class="hidden-xs hidden-sm" style="position: absolute; bottom: 8px;">
                  <% if (!topic && post.topic) { %>
                  <span class="label label-primary">
                    <% if (post.topic.icon) { %>
                    <i class="fa fa-fw fa-<%= post.topic.icon %>"></i>
                    <% } %>
                    <%= post.topic.name %>
                  </span>
                  <% } %>
                  <% if (post.priority) { %>
                  <span class="label label-default" style="background-color: <%= post.priority.color %>;"><i class="fa fa-fw fa-flag"></i> <%= post.priority.name %></span>
                  <% } %>
                </div>
            <% if (site.options().post.voting.enabled == true) { %>
              </div>
            </div>
            <% } %>
          </td>
          <td class="hidden-xs hidden-sm col-md-4 col-lg-3" href="<%= post.getUrl() %>" href="<%= post.getUrl() %>">
            <div href="<%= post.getUrl() %>">
                <% include ../partials/posts/creator %>
            </div>
            <br/>
            <% if (post.comments.length > 0) { %>
            <span class="pull-right"><i class="fa fa-lg fa-fw fa-comments text-muted"></i> <%= post.comments.length %></span>
            <% } else { %>
            <span class="pull-right" style="opacity: 0.5;"><i class="fa fa-lg fa-fw fa-comments text-muted"></i> <%= post.comments.length %></span>
            <% } %>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <br/>
    <p class="text-center lead">There's nothing here yet.</p>
    <p class="text-center">
      <% if (user) { %>
        <% if (typeof(topic) != "undefined" && topic != null) { %>
          <a class="hidden-xs hidden-sm btn btn-lg btn-success" href="<%= site.options().post.path %>/<%= topic.path %>/new" data-dismiss="modal" data-toggle="modal" data-target="#newPostModal"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
          <a class="visible-xs visible-sm btn btn-lg btn-success" href="<%= site.options().post.path %>/<%= topic.path %>/new" ><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
        <% } else { %>
          <a class="btn btn-lg btn-success" href="/new" data-dismiss="modal" data-toggle="modal" data-target="#newPostModal" data-shortcut-key="n"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
        <% } %>
      <% } else { %>
      <a class="btn btn-lg btn-success" href="/signup" data-dismiss="modal" data-toggle="modal" data-target="#signupModal"  data-shortcut-key="n"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
      <% } %>
    </p>
<% } %>
    <div class="row">
      <div class="col-md-12">
        <% if (posts.length > 0) { %>
          <% include ../partials/posts/paginator %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="hidden-xs hidden-sm">
      <div class="list-group">
        <a href="<%= site.options().post.path %>/everything" class="list-group-item <% if (!topic) { %>active<% } %>">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-fw fa-<%= site.options().post.icon %>"></i>
            </div>
            <div class="media-body">
              All <%= site.options().post.name %>
              <span class="badge pull-right"><%= postTotal %></span>
            </div>
          </div>
        </a>
      </div>

      <h5 class="text-muted">LIST BY TOPIC</h5>
      <% topics.forEach(function(t) { %>
        <a href="<%= site.options().post.path %>/<%= t.path %>" class="list-group-item <% if (topic && topic.name == t.name) { %>active<% } %>">
          <div class="media">
            <% if (t.icon != "") { %>
            <div class="media-left">
              <i class="fa fa-fw fa-lg fa-<% if (t.icon) { %><%= t.icon %>"><% } %></i>
            </div>
            <% } %>
            <div class="media-body">
              <%= t.name %>
              <span class="badge pull-right"><%= t.postCount %></span>
            </div>
          </div>
        </a>
      <% }); %>
      
      </div>
    </div>
  </div>
</div>