<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <% if (topic) { %>
        <div class="media hidden-xs hidden-sm">
          <% if (topic.icon) { %>
          <div class="media-left">
            <i style="margin-top: 15px;" class="text-primary fa fa-lg fa-<%= topic.icon %>"></i>
          </div>
          <% } %>
          <div class="media-body text-primary">
            <h4 style="margin-top: 10px; margin-bottom: 20px;"><%= topic.name %></h4>
          </div>
        </div>
        <% } else { %>
        <div class="media hidden-xs hidden-sm">
          <% if (site.options().post.icon) { %>
          <div class="media-left">
            <i style="margin-top: 15px;" class="text-primary fa fa-lg fa-<%= site.options().post.icon %>"></i>
          </div>
          <% } %>
          <div class="media-body text-primary">
            <h4 style="margin-top: 10px; margin-bottom: 20px;">All <%= site.options().post.name %></h4>
          </div>
        </div>
        <% } %>
        <div class="dropdown visible-xs visible-sm" style="margin-bottom: 10px;">
          <button class="btn btn-block btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <div class="row">
            <div class="col-xs-10" style="overflow: hidden;">
              <span class="pull-left">
              <% if (topic) { %>
                <% if (site.options().post.icon) { %><i class="fa fa-fw fa-lg fa-<%= topic.icon %>"></i> <% } %> <%= topic.name %>
              <% } else { %>
                <% if (site.options().post.icon) { %><i class="fa fa-fw fa-lg fa-<%= site.options().post.icon %>"></i> All <% } %> <%= site.options().post.name %>
              <% } %>
              </span>
            </div>
            <div class="col-xs-2">
              <i class="fa fa-lg fa-caret-down pull-right" style="margin: 5px 5px 0 0;"></i>
            </div>
            </div>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width: 100%;">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= site.options().post.path %>/everything"><% if (site.options().post.icon) { %>
              <i class="fa fa-fw fa-lg fa-<%= site.options().post.icon %>"></i> <% } %> All <%= site.options().post.name %> (<%= postTotal %>)</a>
            </li>
            <li role="presentation" class="divider"></li>
            <% topics.forEach(function(t) { %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= site.options().post.path %>/<%= t.path %>"><% if (t.icon) { %><i class="fa fa-fw fa-lg fa-<%= t.icon %>"></i> <% } %> <%= t.name %> (<%= t.postCount %>)</a></li>
            <% }); %>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5" style="padding-top: 10px;">
        <% if (posts.length > 0) { %>
          <% include ../partials/posts/paginator %>
        <% } %>
      </div>
    </div>
    <% if (posts.length > 0) { %>
    <table class="post-list table table-striped">
      <tbody>
      <% posts.forEach(function(post) { %>
        <% include ../partials/posts/list %>
      <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <br/>
    <p class="text-center lead">There's nothing here yet.</p>
    <p class="text-center">
      <% if (user) { %>
        <% if (typeof(topic) != "undefined" && topic != null) { %>
          <a class="btn btn-lg btn-success" href="<%= site.options().post.path %>/<%= topic.path %>/new" ><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
        <% } else { %>
          <a class="btn btn-lg btn-success" href="/new" ><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
        <% } %>
      <% } else { %>
      <a class="btn btn-lg btn-success" href="/signup" data-dismiss="modal" data-toggle="modal" data-target="#signupModal"  data-shortcut-key="n"><i class="fa fa-lg fa-fw fa-plus-circle"></i> New</a>
      <% } %>
    </p>
<% } %>
    <div class="row">
      <div class="col-md-12">
        <% if (posts.length > 0) { %>
          <% include ../partials/posts/paginator %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="hidden-xs hidden-sm">
      <div class="list-group">
        <a href="<%= site.options().post.path %>/everything" class="list-group-item <% if (!topic) { %>active<% } %>">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-fw fa-<%= site.options().post.icon %>"></i>
            </div>
            <div class="media-body">
              All <%= site.options().post.name %>
              <span class="badge pull-right"><%= postTotal %></span>
            </div>
          </div>
        </a>
      </div>

      <h5 class="text-muted">LIST BY TOPIC</h5>
      <% topics.forEach(function(t) { %>
        <a href="<%= site.options().post.path %>/<%= t.path %>" class="list-group-item <% if (topic && topic.name == t.name) { %>active<% } %>">
          <div class="media">
            <% if (t.icon != "") { %>
            <div class="media-left">
              <i class="fa fa-fw fa-lg fa-<% if (t.icon) { %><%= t.icon %>"><% } %></i>
            </div>
            <% } %>
            <div class="media-body">
              <%= t.name %>
              <span class="badge pull-right"><%= t.postCount %></span>
            </div>
          </div>
        </a>
      <% }); %>
      
      </div>
    </div>
  </div>
</div>