<% if (query) { %>
<h1 class="page-header"><%= count %> search results for "<%= query %>"</h1>
<div class="row">
  <div class="col-sm-12">
   <table class="table xtable-striped">
     <tbody>
     <% posts.forEach(function(post) { %>
        <tr href="<%= post.getUrl() %>">
          <td class="col-xs-12 col-md-8 col-lg-9" style="position: relative;">
            <% if (site.options().post.voting.enabled == true) { %>
            <div class="media">
              <div class="media-left">
                <div class="panel panel-default" style="width: 80px; margin: 0;">
                  <div class="panel-body text-center" style="padding: 5px 0;">
                    <p data-score="<%= post.postId %>" class="lead score"><%= post.upvotes() - post.downvotes() %></p>
                  </div>
                  <div class="panel-footer text-center" style="padding: 8px 0;">
                    <span>score</span>
                  </div>
                </div>
              </div>
              <div class="media-body">
            <% } %>
                <h4 href="<%= post.getUrl() %>" class="post-title" style="margin-top: 0; margin-bottom: 10px;"><a class="text-default" href="<%= post.getUrl() %>"><%= post.title %></a></h4>
              
                <div class="hidden-xs hidden-sm hidden-md" style="position: absolute; bottom: 8px;">
                  <% if ( post.topic) { %>
                  <span class="label label-primary">
                    <% if (post.topic.icon) { %>
                    <i class="fa fa-fw fa-<%= post.topic.icon %>"></i>
                    <% } %>
                    <%= post.topic.name %>
                  </span>
                  <% } %>
                  <% if (post.priority) { %>
                  <span class="label label-default" style="background-color: <%= post.priority.color %>;"><%= post.priority.name %></span>
                  <% } %>
                  <% if (post.comments.length > 0) { %>
                  <span class="label label-default"><i class="fa fa-fw fa-comments"></i> <%= post.comments.length %></span>
                  <% } else { %>
                  <span class="label label-default" style="opacity: 0.5;"><i class="fa fa-fw fa-comments"></i> <%= post.comments.length %></span>
                  <% } %>
                </div>

                <div class="visible-sm visible-xs" style="margin-top: 5px;">
                  <% if (post.creator) { %>
                  <a href="<%= post.getUrl() %>" class="text-default" style="text-decoration: none;">
                    <img src="<%= post.creator.avatar(26)%>" alt="Avatar" height="26" width="26" class="img-circle" />
                    <%= post.creator.profile.name || "Anonymous" %>
                  </a>
                  <% } %>
                  <span href="<%= post.getUrl() %>" class="text-muted">
                    <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
                  </span>
                </div>

                <div class="visible-xs visible-sm visible-md" style="margin-top: 5px;">
                  <% if ( post.topic) { %>
                  <span class="label label-primary" style="margin-bottom: 5px;">
                    <% if (post.topic.icon) { %>
                    <i class="fa fa-fw fa-<%= post.topic.icon %>"></i>
                    <% } %>
                    <%= post.topic.name %>
                  </span>
                  <% } %>
                  <% if (post.priority) { %>
                  <span class="label label-default" style="margin-bottom: 5px; background-color: <%= post.priority.color %>;"><%= post.priority.name %></span>
                  <% } %>
                  <% if (post.comments.length > 0) { %>
                  <span class="label label-default"><i class="fa fa-fw fa-comments"></i> <%= post.comments.length %></span>
                  <% } else { %>
                  <span class="label label-default" style="opacity: 0.5;"><i class="fa fa-fw fa-comments"></i> <%= post.comments.length %></span>
                  <% } %>
                </div>
            <% if (site.options().post.voting.enabled == true) { %>
              </div>
            </div>
            <% } %>
          </td>
          <td class="hidden-xs hidden-sm col-md-4 col-lg-3">
            <div class"clearfix" style="padding-right: 5px; padding-top: 5px;">
              <span href="<%= post.getUrl() %>" class="text-muted pull-right">
                <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time>
              </span>
            </div>
            <% if (post.creator) { %>
              <div class"clearfix" style="margin-top: 35px; padding-right: 5px;">
              <a href="<%= post.getUrl() %>" class="text-default pull-right" style="text-decoration: none;">
                <img src="<%= post.creator.avatar(26)%>" alt="Avatar" height="26" width="26" hspace="2" class="img-circle" />
                <%= post.creator.profile.name || "Anonymous" %>
              </a>
              </div>
            <% } %>
          </td>
        </tr>
     <% }) %>
     </tbody>
   </table>
  </div>
</div>
<% } else { %>
<br/>
<form method="GET" action="search" class="row">
  <div class="col-sm-offset-2 col-sm-6">
    <input name="q" type="text=" class="form-control input-lg" placeholder="Keywords"/>
  </div>
  <div class="col-sm-2">
    <button type="submit" class="btn btn-lg btn-block btn-primary">Search</button>
  </div>
</form>
<br/>
<% } %>