<% if (site.options().post.voting.enabled == true) { %>
<div class="visible-xs visible-sm" style="margin-bottom: 20px;">
  <% include ../partials/posts/vote-mobile %>
</div>
<div class="media" style="position: relative; top: -10px;">
  <div class="hidden-xs hidden-sm media-left" style="padding-right: 20px;">
    <% include ../partials/posts/vote %>
  </div>
  <div class="media-body">
<% } %>
    <a id="show-properties" class="row visible-xs visible-sm" href="javascript:$('#properties').removeClass('hidden-xs hidden-sm');$('#show-properties').removeClass('visible-xs visible-sm').addClass('hidden');">
      <div class="col-xs-12">
        <% if (post.state) { %>
          <% if (post.state.open == true) { %>
            <h3 class="label label-lg label-success pull-left" style="margin-top: 0; margin-right: 5px;"><i class="fa fa-lg fa-circle-o"></i></h3>
          <% } else { %>
            <h3 class="label label-lg label-danger pull-left" style="margin-top: 0; margin-right: 5px;"><i class="fa fa-lg fa-times"></i></h3>
          <% } %>
        <% } %>
        <% if (post.topic != null) { %>
          <% if (post.topic.icon) { %>
          <h3 class="label label-lg label-primary pull-left" style="margin-top: 0; margin-right: 5px;"><i class="fa fa-lg fa-<%= post.topic.icon %>"></i></h3>
          <% } %>
        <% } %>
        <% if (post.priority) { %>
          <h3 class="label label-lg label-default pull-left" style="margin-top: 0; margin-right: 5px; background-color: <%= post.priority.color %>;"><i class="fa fa-lg fa-circle"></i></h3>
        <% } %>
        <% if (post.creator) { %>
        <img src="<%= post.creator.avatar(45) %>" height="45" width="45" alt="Avatar" class="img-circle" style="margin-left: 5px;"/>
        <% } %>
      </div>
    </a>
    <div class="row">
      <div id="properties" class="col-md-4 col-lg-3 col-md-push-8 col-lg-push-9 hidden-xs hidden-sm">
        <h5 class="text-muted">CREATED BY</h5>
        <div class="media media-avatar">
          <div class="media-left">
            <% if (post.creator) { %>
            <img src="<%= post.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
            <% } else { %>
            <h4 style="margin: 0; width: 48px; height: 48px;" class="text-center text-muted"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
            <% } %>
          </div>
          <div class="media-body">
            <% if (post.creator) { %>
            <h4 class="media-heading"><%= post.creator.profile.name || "Anonymous" %></h4>
            <% } else { %>
            <h4 class="media-heading text-muted">Deleted Account</h4>
            <% } %>
            <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time></span>
          </div>
        </div>
        <% if (post.state) { %>
        <h5 class="text-muted">STATUS</h5>
          <% if (post.state.open == true) { %>
            <h3 class="label label-lg label-success" style="text-align: left; width: 100%; display: block; margin-top: 0;"><i class="fa fa-lg fa-circle-o"></i>&nbsp; <%= post.state.name %></h3>
          <% } else { %>
            <h3 class="label label-lg label-danger" style="text-align: left; width: 100%; display: block;  margin-top: 0;"><i class="fa fa-lg fa-times"></i>&nbsp; <%= post.state.name %></h3>
          <% } %>
        <% } %>
        <% if (post.priority) { %>
        <h5 class="text-muted">PRIORITY</h5>
        <h3 class="label label-lg label-default" style="text-align: left; width: 100%; display: block; margin-top: 0; background-color: <%= post.priority.color %>;"><%= post.priority.name %></h3>
        <% } %>
        <% if (post.topic != null) { %>
        <div class="visible-xs visible-sm">
          <h5 class="text-muted">TOPIC</h5>
          <a href="<%= site.options().post.path %>/<%= post.topic.path %>" class="label label-lg label-primary" style="text-align: left; display: block;">
            <% if (post.topic.icon) { %><i class="fa fa-lg fa-fw fa-<%= post.topic.icon %>"></i><% } %>
            <%= post.topic.name %>
          </a>
        </div>
        <% } %>
        <br/>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9 col-md-pull-4 col-lg-pull-3">
        <!-- Post Body -->
        <% if (post.topic != null) { %>
        <p id="topic" style="margin: 1px 0 10px 0;" class="hidden-xs hidden-sm">
          <a href="<%= site.options().post.path %>/<%= post.topic.path %>" class="label label-primary hidden-xs hidden-sm">
            <% if (post.topic.icon) { %><i class="fa fa-lg fa-fw fa-<%= post.topic.icon %>"></i><% } %>
            <%= post.topic.name %>
          </a>
        </p>
        <% } %>
        <h1 class="page-header"><%= post.title %></h1>
        <% post.description.split("\n").forEach(function(line, i) { %>
          <% if (i == 0) { %>
          <p class="lead"><%- linkify(line) %></p>
          <% } else { %>
          <p class="lead"><%- linkify(line) %></p>
          <% } %>
        <% }); %>
        <% if (post.tags.length > 0) {%>
        <p class="tags">
        <% post.tags.forEach(function(tag) { %>
          <span class="label label-info"><i class="fa fa-tag"></i> <%= tag %></span>
        <% }); %>
        </p>
        <% } %>
        <% if (typeof(user) != 'undefined' && ( (post.creator && user.id == post.creator.id) || user.role == 'ADMIN' || user.role == 'MODERATOR')) { %>
        <br/>
        <p class="text-right">
          <a href="<%= post.getEditUrl() %>" class="btn btn-default" data-shortcut-key="e"><i class="fa fa-lg fa-fw fa-pencil"></i> Edit</a>
        </p>
        <% } %>
        <% include ../partials/posts/comments %>
        <% include ../partials/posts/add-comment %>
      </div>
    </div>
<% if (site.options().post.voting.enabled == true) { %>
  </div>
</div>
<% } %>