<% if (site.options().post.voting.enabled == true) { %>
<div class="visible-xs visible-sm" style="margin-bottom: 20px;">
  <% include ../partials/posts/vote-mini %>
</div>
<div class="media" style="position: relative; top: -10px;">
  <div class="hidden-xs hidden-sm media-left" style="padding-right: 20px;">
    <% include ../partials/posts/vote %>
  </div>
  <div class="media-body">
<% } %>
    <div class="row">
      <div class="col-md-4 col-lg-3 col-md-push-8 col-lg-push-9">
        <div class="media media-avatar">
          <div class="media-left">
            <% if (post.creator) { %>
            <img src="<%= post.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
            <% } else { %>
            <h4 style="margin: 0; width: 48px; height: 48px;" class="text-center text-muted"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
            <% } %>
          </div>
          <div class="media-body">
            <% if (post.creator) { %>
            <h4 class="media-heading"><%= post.creator.profile.name || "Anonymous" %></h4>
            <% } else { %>
            <h4 class="media-heading text-muted">Deleted Account</h4>
            <% } %>
            <span class="text-muted"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= post.created.toISOString() %>"><%= post.created.toDateString() %></time></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9 col-md-pull-4 col-lg-pull-3">
        <!-- Post Body -->
        <% if (post.topic != null) { %>
        <span id="topic">
          <a href="<%= site.options().post.path %>/<%= post.topic.path %>" style="text-decoration: none;"><h4 class="lead text-muted" style="margin: 0; margin-bottom: 5px;">
            <% if (post.topic.icon) { %><i class="fa fa-<%= post.topic.icon %>"></i><% } %>
            <%= post.topic.name %>
          </h4></a>
        </span>
        <% } %>
        <h1 class="page-header"><%= post.title %></h1>
        <% post.description.split("\n").forEach(function(line, i) { %>
          <% if (i == 0) { %>
          <p class="lead"><%- linkify(line) %></p>
          <% } else { %>
          <p><%- linkify(line) %></p>
          <% } %>
        <% }); %>
        <% if (post.tags.length > 0) {%>
        <p class="tags">
        <% post.tags.forEach(function(tag) { %>
          <span class="label label-default"><i class="fa fa-tag"></i> <%= tag %></span>
        <% }); %>
        </p>
        <% } %>
        <% if (typeof(user) != 'undefined' && ( (post.creator && user.id == post.creator.id) || user.role == 'ADMIN' || user.role == 'MODERATOR')) { %>
        <br/>
        <p class="text-right">
          <a href="<%= post.getEditUrl() %>" class="btn btn-default" data-shortcut-key="e"><i class="fa fa-lg fa-fw fa-pencil"></i> Edit</a>
        </p>
        <% } %>
        <hr/>
        <!-- Comments -->
        <h4><i class="fa fa-comments"></i> Comments</h4>
        <br/>
        <% post.comments.forEach(function(comment) { %>
        <div class="media">
          <div class="media-left" style="padding-right: 20px;">
            <% if (comment.creator) { %>
            <img src="<%= comment.creator.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/>
            <% } else { %>
            <h4 class="text-muted text-center" style="height: 48px; width: 48px;"><i style="margin-top: 5px;" class="fa fa-2x fa-user"></i></h4>
            <% } %>
          </div>
          <div class="media-body panel panel-default">
            <div class="panel-heading">
              <% if (comment.creator) { %>
              <span class="media-heading"><%= comment.creator.profile.name || "Anonymous" %></span>
              <% } else { %>
              <span class="media-heading text-muted"> Deleted Account</span>
              <% } %>
              <span class="text-muted pull-right"><i class="fa fa-clock-o"></i> <time class="timeago" datetime="<%= comment.created.toISOString() %>"><%= comment.created.toDateString() %></time></span>                
            </div>
            <div class="panel-body">
              <p class="comment">
                <% comment.message.split("\n").forEach(function(line) { %>
                  <p><%- linkify(line) %></p>
                <% }); %>
              </p>
            </div>
          </div>
        </div>
        <% }); %>
        <br/>
        <% if (user) { %>
        <div class="media">
          <div class="media-left" style="padding-right: 20px;">
            <a href="#"><img src="<%= user.avatar(48) %>" height="48" width="48" alt="Avatar" class="img-circle"/></a>
          </div>
          <div class="media-body">
            <form role="form" method="post" action="<%= post.getAddCommentUrl() %>" data-validator="true">
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              <div class="form-group">
                <p style="margin-bottom: 5px;">
                <span class="media-heading"><%= user.profile.name || "Anonymous" %></span>
                <span class="text-muted pull-right"><i class="fa fa-clock-o"></i> <time datetime="<%= new Date().toISOString() %>"><%= new Date().toDateString() %></time></span>
                </p>
                <label for="message" class="control-label hidden">Add comment</label>
                <textarea type="text" name="comment" id="comment" rows="3" class="form-control autoresize" placeholder="Add comment" autocomplete="off"></textarea>
              </div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-fw fa-comment"></i> Add comment...</button>
              </div>
            </form>
          </div>
        </div>
        <% } else { %>
        <p class="text-right">
          <a href="/signup" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#signupModal"><i class="fa fa-lg fa-fw fa-sign-in"></i> Sign up to comment</a>
        </p>
        <% } %>
      </div>
    </div>
<% if (site.options().post.voting.enabled == true) { %>
  </div>
</div>
<% } %>